POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DB=orchestration_demo
POSTGRES_PORT=5433
AIRFLOW_UID=1000
REDIS_PORT=6380
KAFKA_PORT=9092
KAFKA_EXTERNAL_PORT=19092
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
SUPERSET_PORT=8088
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_SECRET_KEY=this_needs_to_be_changed_for_prod
